<!doctype html>
<html lang="zh-cn">
<head>
    <% include ../fragment/meta.ejs %>
    <title>EJS template test</title>
</head>
<body>

<h1>This page is generated from a EJS template.</h1>

<p>image's src should be resolved properly via <code>html-loader</code>:</p>
<img src="../../asset/img/webpack.png">

<p>There are page-specific styles and scripts define in an independent entry point.</p>
</body>
</html>
